@model IEnumerable<MealsMvc.Models.Recipe>
@{
    ViewData["Title"] = "All Recipes";
}

<div style="padding-bottom: 10px; padding-left:40px; box-shadow: 0 5px 10px rgba(0,0,0,.1);" class="pt-4">
    <a asp-action="Create" class="btn btn-primary"><i class="fa fa-plus"></i> Add Recipe</a>
</div>

<div class="row" style="margin-left: 100px; margin-right: 100px; margin-top: 40px;">
    @foreach (var recipe in Model)
    {
        <div class="col-sm-3" style="margin-bottom:30px">
            <div class="card">
                <a class="card-block stretched-link text-decoration-none" asp-action="Details" asp-route-ID="@recipe.RecipeID"></a>
                <img class="card-img-top" src="@Url.Content(@recipe.ImageUrl)" />
                <div class="card-body">
                    <div class="title">@recipe.Name</div>
                    <div class="recipe-additional-info">#Servings: @recipe.NumberServings</div>
                </div>
            </div>
        </div>
    }
</div>